.text-purple {
   color: $purple;
}
.text-pinc {
   color: $pink;
}
.text-orange {
   color: $orange;
}
.text-yellow {
   color: $yellow2;
}

.w-sm-30-60 {
   width: 25%;
   padding-top: rem-calc(155px);
}
.line-height_1 {
   line-height: 1;
}
.font-size_18_arial {
   font-family: $font-family-arial;
   font-size: rem-calc(18px);
}
.font-size_24_arial {
   font-family: $font-family-arial;
   font-size: rem-calc(24px);
}
.font-size_30_arial {
   font-family: $font-family-arial;
   font-size: rem-calc(30px);
   line-height: 1.2;
}
.font-size_36_arial {
   font-family: $font-family-arial;
   font-size: rem-calc(36px);
   line-height: 1.2;
}
.font-size_40_arial {
   font-family: $font-family-arial;
   font-size: rem-calc(40px);
}
.font_size_42 {
   font-size: rem-calc(42px);
   line-height: rem-calc(26px);
}

.font_family_regular {
   font-family: $font-family-regular;
}
.font_family_regular_24 {
   font-family: $font-family-regular;
   font-size: rem-calc(24px);
   line-height: 1.4;
}
.font_family_regular_36 {
   font-family: $font-family-regular;
   font-size: rem-calc(36.21px);
   line-height: 1.2;
}

.font_size_47 {
   font-size: rem-calc(47px);
   line-height: 1.2;
}
.font_size_48 {
   font-size: rem-calc(48px);
   line-height: 1.2;
}
.font_size_60 {
   font-size: rem-calc(60px);
   line-height: 1.2;
}

.font_size_64 {
   font-size: rem-calc(64px);
   line-height: 1.2;
}
@include media-breakpoint-down(md) {
   .w-sm-30-60 {
      width: 35%;
      padding-top: rem-calc(195px);
   }
   .logo-footer {
      width: 40%;
   }
   .font-size_18_arial {
      font-family: $font-family-arial;
      font-size: rem-calc(12px);
   }
   .font-size_24_arial {
      font-size: 1.2rem;
   }
}
@include media-breakpoint-down(sm) {
   .font-size_40_arial {
      font-family: $font-family-arial;
      font-size: rem-calc(20px);
   }
   .font_size_42 {
      font-size: rem-calc(40px);
      line-height: rem-calc(40px);
   }
   .font-size_30_arial {
      font-size: 1.2rem;
   }
   .font-size_36_arial {
      font-size: rem-calc(15px);
   }
   .font_size_64 {
      font-size: 1.5rem;
      line-height: 1.2;
   }
   .w-sm-30-60 {
      width: 45%;
      padding-top: rem-calc(47px);
   }
   .font_family_regular_24 {
      font-size: rem-calc(14px);
   }
   .font_size_48 {
      font-size: rem-calc(32px);
      line-height: 1.2;
   }
}

.hero-lg {
   display: block;
   position: absolute;
   left: 30%;
   z-index: 1050;
   width: rem-calc(86px);
   height: rem-calc(106px);
   transform: translate(-50%, -50%);
   background-image: url(../img/hero.png);
   background-position: 0% 100%;
   animation: animation-hero 1s steps(6) infinite;
}
@include media-breakpoint-down(sm) {
   .hero {
      display: block;
      position: absolute;
      bottom: 92%;
      left: 15%;
      z-index: 1050;
      width: rem-calc(43px);
      height: rem-calc(54px);
      transform: translate(-50%, -50%);
      background-image: url(../img/hero2.png);
      background-position: 0% 100%;
      animation: animation-hero 1s steps(12) infinite;
   }
}

@include media-breakpoint-up(md) {
   .hero {
      display: block;
      position: absolute;
      bottom: 92%;
      left: 25%;
      z-index: 1050;
      width: rem-calc(86px);
      height: rem-calc(106px);
      transform: translate(-50%, -50%);
      background-image: url(../img/hero.png);
      background-position: 0% 100%;
      animation: animation-hero 1s steps(6) infinite;
   }
}

.hero2 {
   display: block;
   position: absolute;
   bottom: 92%;
   left: 25%;
   z-index: 1050;
   width: rem-calc(86px);
   height: rem-calc(106px);
   transform: translate(-50%, -50%);
   background-image: url(../img/hero.png);
   background-position: 0% 100%;
   animation: animation-hero 1s steps(6) infinite;
}
@include media-breakpoint-down(sm) {
   .knowledge-and-experience {
      display: block;
      position: absolute;
      bottom: 92%;
      left: 15%;
      z-index: 1030;
      width: rem-calc(149px / 2);
      height: rem-calc(143px / 2);
      transform: translate(-50%, -50%);
      background-image: url(../img/section/knowledge_and_experience.png);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: contain;
      transition: all 1s ease-in-out;
   }
   .bad-luck {
      display: block;
      position: absolute;
      bottom: 92%;
      left: 15%;
      z-index: 1030;
      width: rem-calc(110px / 2);
      height: rem-calc(150px / 2);
      transform: translate(-50%, -50%);
      background-image: url(../img/section/bad_luck.png);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: contain;
      transition: all 1s ease-in-out;
   }
   .need-make-money {
      display: block;
      position: absolute;
      bottom: 92%;
      left: 15%;
      z-index: 1030;
      width: rem-calc(197px / 2);
      height: rem-calc(193px / 2);
      transform: translate(-50%, -50%);
      background-image: url(../img/section/need_make_money.png);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: contain;
      transition: all 1s ease-in-out;
   }
   .assets-make-money {
      display: block;
      position: absolute;
      bottom: 92%;
      left: 15%;
      z-index: 1030;
      width: rem-calc(243px / 2);
      height: rem-calc(99px / 2);
      transform: translate(-50%, -50%);
      background-image: url(../img/section/assets_make_money.png);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: contain;
      transition: all 1s ease-in-out;
   }

   .see-opportunities {
      display: block;
      position: absolute;
      bottom: 92%;
      left: 15%;
      z-index: 1030;
      width: rem-calc(251px / 2);
      height: rem-calc(203px / 2);
      transform: translate(-50%, -50%);
      background-image: url(../img/section/see_opportunities.png);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: contain;
      transition: all 1s ease-in-out;
   }
   .make-deals {
      display: block;
      position: absolute;
      bottom: 92%;
      left: 15%;
      z-index: 1030;
      width: rem-calc(204px / 2);
      height: rem-calc(204px / 2);
      transform: translate(-50%, -50%);
      background-image: url(../img/section/make_deals.png);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: contain;
      transition: all 1s ease-in-out;
   }
   .buy-assets {
      display: block;
      position: absolute;
      bottom: 92%;
      left: 15%;
      z-index: 1030;
      width: rem-calc(223px / 2);
      height: rem-calc(223px / 2);
      transform: translate(-50%, -50%);
      background-image: url(../img/section/buy_assets.png);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: contain;
      transition: all 1s ease-in-out;
   }
   .passive-income {
      display: block;
      position: absolute;
      bottom: 92%;
      left: 15%;
      z-index: 1030;
      width: rem-calc(324px / 2);
      height: rem-calc(179px / 2);
      transform: translate(-50%, -50%);
      background-image: url(../img/section/passive_income.png);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: contain;
      transition: all 1s ease-in-out;
   }
}
@include media-breakpoint-up(md) {
   .knowledge-and-experience {
      display: block;
      position: absolute;
      bottom: 92%;
      left: 15%;
      z-index: 1030;
      width: rem-calc(149px);
      height: rem-calc(143px);
      transform: translate(-50%, -50%);
      background-image: url(../img/section/knowledge_and_experience.png);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: contain;
      transition: all 1s ease-in-out;
   }
   .bad-luck {
      display: block;
      position: absolute;
      bottom: 92%;
      left: 15%;
      z-index: 1030;
      width: rem-calc(110px);
      height: rem-calc(150px);
      transform: translate(-50%, -50%);
      background-image: url(../img/section/bad_luck.png);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: contain;
      transition: all 1s ease-in-out;
   }
   .need-make-money {
      display: block;
      position: absolute;
      bottom: 92%;
      left: 15%;
      z-index: 1030;
      width: rem-calc(197px);
      height: rem-calc(193px);
      transform: translate(-50%, -50%);
      background-image: url(../img/section/need_make_money.png);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: contain;
      transition: all 1s ease-in-out;
   }
   .assets-make-money {
      display: block;
      position: absolute;
      bottom: 92%;
      left: 15%;
      z-index: 1030;
      width: rem-calc(243px);
      height: rem-calc(99px);
      transform: translate(-50%, -50%);
      background-image: url(../img/section/assets_make_money.png);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: contain;
      transition: all 1s ease-in-out;
   }

   .see-opportunities {
      display: block;
      position: absolute;
      bottom: 92%;
      left: 15%;
      z-index: 1030;
      width: rem-calc(251px);
      height: rem-calc(203px);
      transform: translate(-50%, -50%);
      background-image: url(../img/section/see_opportunities.png);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: contain;
      transition: all 1s ease-in-out;
   }
   .make-deals {
      display: block;
      position: absolute;
      bottom: 92%;
      left: 15%;
      z-index: 1030;
      width: rem-calc(204px);
      height: rem-calc(204px);
      transform: translate(-50%, -50%);
      background-image: url(../img/section/make_deals.png);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: contain;
      transition: all 1s ease-in-out;
   }
   .buy-assets {
      display: block;
      position: absolute;
      bottom: 92%;
      left: 15%;
      z-index: 1030;
      width: rem-calc(223px);
      height: rem-calc(223px);
      transform: translate(-50%, -50%);
      background-image: url(../img/section/buy_assets.png);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: contain;
      transition: all 1s ease-in-out;
   }
   .passive-income {
      display: block;
      position: absolute;
      bottom: 92%;
      left: 15%;
      z-index: 1030;
      width: rem-calc(324px);
      height: rem-calc(179px);
      transform: translate(-50%, -50%);
      background-image: url(../img/section/passive_income.png);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: contain;
      transition: all 1s ease-in-out;
   }
}

@keyframes animation-hero {
   0% {
      background-position: 0 top;
   }

   to {
      background-position: -480px top;
   }
}
