<footer class="bg-white py-10">
   <div class="container-lg">
      <div class="row justify-content-center">
         <div class="col-auto col-md-7">
            <div class="media flex-column flex-md-row">
               <img src="./assets/img/logo-footer.png" class="logo-footer img-fluid mx-auto d-block align-self-center mr-3" alt="x tot"  loading="lazy"/>
               <div class="media-body my-auto">
                  <!-- <h5 class="mt-0">Center-aligned media</h5> -->
                  <p class="font-size_24_arial text-center text-md-left line-height_1 text-lowercase mb-0">
                     Мотивационное комьюнити с деньгами и пассивный доход
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>