<div class="container-fluid" style="overflow: hidden;">
<!--<div class="hero d-block d-sm-none"></div> 
 <div class="hero-sm d-none-block d-sm-block d-md-none"></div>  
<div class="hero-md d-none-block  d-md-block d-lg-none"></div>
<div class="hero-lg d-none d-lg-block"></div>
-->

</div>
<section id="map" class="section-map-animation">
  <!--  <div class="container d-lg-none mb-5 px-1 position-relative">
      <img class="img-fluid mx-auto d-block" src="assets/img/map_text.png" alt="tot x" loading="lazy">
   </div>   -->  

   <div class="section-map section-map_height">  <!--  d-none d-lg-block -->    
      <div class="container-lg">  
          <div class="hero-lg"></div>      
         <div class="row position-relative h-100">
            <div class="col-auto col-md-2 section-map__point position-absolute">
               <p class="font-size_40_arial text-uppercase text-purple m-0">Точка</p>
            </div>
            <div class="col-auto col-md-2 section-map__knowledge-experience position-absolute">
               <p class="font-size_30_arial text-lowercase text-center text-purple m-0">нет знаний <br> и опыта</p>
            </div>
            <div class="col-auto col-md-2 section-map__money-thinkingt position-absolute">
               <p class="font-size_36_arial text-uppercase text-purple">Денежное<br />мышление</p>
            </div>
            <div class="col-auto col-md-2 section-map__fear-failure position-absolute">
               <p class="font-size_30_arial text-lowercase text-center m-0">страх <br> неудачи</p>
            </div>
            <div class="col-auto col-md-2 section-map__confidence position-absolute">
               <p class="font-size_36_arial text-uppercase text-danger">Увереность</p>
            </div>
            <div class="col-auto col-md-3 section-map__money position-absolute">
               <p class="font-size_30_arial text-lowercase text-center m-0">Чтобы <br> делать деньги нужны деньги</p>
            </div>
            <div class="col-auto col-md-3 section-map__money-start position-absolute">
               <p class="font-size_36_arial text-uppercase text-orange text-right">
                  Деньги <br />
                  для старта
               </p>
            </div>
            <div class="col-auto col-md-3 section-map__money-active position-absolute">
               <p class="font-size_30_arial text-lowercase text-center m-0">Активы, которые делают деньги</p>
            </div>
         </>
      </div>
   </div>
</section>