<section class="section-car">
   <div class="container-lg h-100">
      <div class="row position-relative h-100 no-gutters">
         <div class="col section-car__text position-absolute">
            <p class="font_family_regular_24 text-center text-lowercase text-white">
               Мир, где вместо тебя <br><span class="text-warning">зарабатывают активы</span> 100000 - 150000р/мес.,
               <br>
               а ты больше <span class="text-warning">отдыхаешь</span> и путешествуешь с друзьями
            </p>
         </div>
         <img class="img-fluid d-block m-auto w-sm-60" src="./assets/img/car-logo.png" alt="">
         <div class="col-12 col-md-4 section-car__btn position-absolute px-5">
            <button type="button" class="btn btn-warning font_family_regular_36 btn-lg text-white py-4 w-100">Войти
               vk</button>
            <p class="font-size_24_arial text-center text-white text-lowercase">Это бесплатно</p>
         </div>
         <div class="col-3 section-car__arrow position-absolute d-none d-md-block">
            <p class="pb-3 pb-mb-0 pl-5 mb-0 font-size_30_arial text-warning text-lowercase">Нажми меня</p>
            <img class="img-fluid d-block img_rotate_45" src="./assets/img/arrow-left.png" alt="нажми меня">
         </div>
      </div>
   </div>
</section>