@import "~hover.css/scss/effects/2d-transitions/hang";

.section-looc {
   &__h4 {
      &:hover {
         cursor: pointer;
         color: $pink;
         text-decoration: none;
      }
      &.section-looc__h4_after_hang {
         @include hang();
      }
      &::after {
         content: url("../img/arrow-to-down.png");
         position: absolute;
         top: 17%;
         left: 100%;
      }
   }
}
@include media-breakpoint-down(sm) {
   .section-looc {
      &__h4 {
         &:hover {
            cursor: pointer;
            color: $pink;
            text-decoration: none;
         }
         &.section-looc__h4_after_hang {
            @include hang();
             &::after {
            background: url(../img/arrow-to-down.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: left;        
         }
         }
         &::after {
            content: "";
            position: absolute;
            top: 17%;
            left: 100%;
            height: 50px;
            width: 100%;            
         }
      }
   }
}
